@charset "UTF-8";

picture .fotosapresentaçao {
   
    width: 90%;
    margin: 10px;
    border: 2px solid #404040;
    box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.4);
}

picture .doaçao {
    width: 60%;
    min-width: 300px;
    margin: 10px 10px 30px 10px; ;
    border: 2px solid #404040;
    box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.4);
    border-radius: 10px;
    
}